@import url('https://fonts.cdnfonts.com/css/minecraft-4');
:root {
    background-image: url(../img/tela-fundo.png);
/*core*/
--cor-prin:#586C39;
--cor-secu:#87A8F7;
--cor-terc:#593C2C;
/*fontes*/
--fonte-mine:'Minecraft',sans-serif;                                  
}
.header1{
    height: 65px;
    background-color: var(--cor-prin);
    position: sticky;
    top: 0;
    z-index: 100001;
    box-shadow: 0 2px 3px -2px #000;
    display: flex;
}
.imagem-perfil-header{
    width: 56px;
}
.centralizar{
    margin: auto;
}
.p-header{
    padding-right: 5px;
}
.perfil-header{
border: 1px solid black;
}
.btn-header{
    cursor: pointer;
    background-color: var(--cor-prin);
    border: 1px solid black;
}
.menu{
    background-color: var(--cor-secu);
    display: none;
}
#btnmenu, .btnheader1{
    width: 74px;
    height: 58px;
}
.titulo-header{
    padding: auto;
}