.userc {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 2px;    
    width: 80%;
    gap: 10rem;
}
.tlogin {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 30px;
    text-align: center;
    margin: 10% 30%;

}
#imgl {
    width: 40%;
    margin-top:20px;
}
.fp {
    margin: 3px 20px;
}
.btn {
    margin: 3px auto;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    background-color: gray;
    color: white;
    transition: 0.4s ease-in-out;
}
.btn:hover {
     background-color: aqua;
     transition: 0.4s;
     cursor: pointer;
     
}
#imagemInput{
    width: auto;
}
#imgfiche{
width: 21px;

}
