.userc, .passwordc {
margin-top: 2px;
width: 80%;
}
.tlogin {
    border: 2px solid black;
    border-radius: 30px;
    padding: 20px;
    text-align: center;
    margin: 0 30%;
}
#imgl {
    width: 40%;
}
.fp {
    margin: 3px 20px;
}
.btn {
    margin: 3px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
    background-color: gray;
    color: white;
    transition: 1s ease-in-out;
}
.btn:hover {
     background-color: aqua;
     transition: 0.2s;
     cursor: pointer;
     
}


/*teste
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
*/